@model Plan.Models.Memo
@{
    ViewData["Title"] = "Disposisi Memo";
}

<form asp-action="Disposisi" method="post" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

      <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="No_Memo_Rekomendasi" class="control-label"></label>
        <input asp-for="No_Memo_Rekomendasi" class="form-control" readonly/>
        <span asp-validation-for="No_Memo_Rekomendasi" class="text-danger"></span>
    </div>
 
       
<div class="form-group">
    <label asp-for="KebutuhanKontrak" class="control-label">Info Memo</label>
    <select asp-for="KebutuhanKontrak" class="form-control">
        <option value="">Pilih</option>
        <option value="Dibutuhkan Kontrak">Dibutuhkan Kontrak</option>
        <option value="Tidak Dibutuhkan Kontrak">Tidak Dibutuhkan Kontrak</option>
        <option value="Termin Tagihan">Termin Tagihan</option>
        <option value="Adendum">Adendum</option>
    </select>
    <span asp-validation-for="KebutuhanKontrak" class="text-danger"></span>
</div>



    <div class="form-group">
        <label asp-for="Email" class="control-label">Disposisi</label>
        <select asp-for="Email" class="form-control" asp-items="ViewBag.Users">
            <option value="">Pilih</option>
        </select>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>



    <div class="form-group">
        <label asp-for="Komentar" class="control-label"></label>
        <textarea asp-for="Komentar" class="form-control"></textarea>
        <span asp-validation-for="Komentar" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
