@{
    ViewData["Title"] = "Planner App - Dashboard";
}

<div class="mt-0">
    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                Dashboard 1
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                Dashboard 2
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">
                Dashboard 3
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">
                Dashboard 4
            </button>
        </li>

                <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab" aria-controls="tab5" aria-selected="false">
                Dashboard 5
            </button>
        </li>
    </ul>

    <!-- Tabs Content -->
    <div class="tab-content mt-3" id="dashboardTabsContent">
        <!-- Tab 1 -->
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <iframe title="Dashboard 1" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=174f8254-af5f-489f-bd1c-9dadf198165b&autoAuth=true&ctid=14bb2b67-4cd3-42cf-a5c3-a63aaf5245ac" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <!-- Tab 2 -->
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
<iframe title="dashboard planner app ok2" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c92ae846-a1e0-49d5-b118-21dac6627049&autoAuth=true&ctid=14bb2b67-4cd3-42cf-a5c3-a63aaf5245ac" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <!-- Tab 3 -->
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
<iframe title="RU4_PS_Notification Work Order Monitoring" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=37214b6d-8207-4c89-96e0-84542d4742a1&autoAuth=true&ctid=14bb2b67-4cd3-42cf-a5c3-a63aaf5245ac" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <!-- Tab 4 -->
        <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
<iframe title="RU4_PS_PM Implementation" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=aa674a09-5507-4799-8592-33976c58bf28&autoAuth=true&ctid=14bb2b67-4cd3-42cf-a5c3-a63aaf5245ac" frameborder="0" allowFullScreen="true"></iframe>
        </div>


                <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
<iframe title="dashboard planner app ok3" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=e9646dcb-1473-479f-a4f9-3d0f0a5eea60&autoAuth=true&ctid=14bb2b67-4cd3-42cf-a5c3-a63aaf5245ac" frameborder="0" allowFullScreen="true"></iframe>
        </div>


    </div>
</div>

<!-- Bootstrap Bundle with Popper (untuk memastikan JS berfungsi) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
