@model Plan.Models.FasePlanning
@using System.Security.Claims

@{
    ViewData["Title"] = "Edit Planning Project";
     var idMemo = Context.Request.Query["idmemo"];
}

<!-- Styles -->



<form asp-action="Edit" id="editForm">
  @Html.AntiForgeryToken()


      <input type="hidden" asp-for="Id" />


  <div class="container">
    <div class="row">
        <!-- Kolom pertama -->
        <div class="col-md-6">

    <div class="form-group">
        <label asp-for="Kode_Project" class="control-label"></label>
        <input asp-for="Kode_Project" class="form-control" id="Kode_Project" readonly />
        <span asp-validation-for="Kode_Project" class="text-danger"></span>
    </div>



<div class="form-group">
    <label asp-for="Planner" class="control-label"></label>
    <input type="text" asp-for="Planner" class="form-control" readonly />
    <span asp-validation-for="Planner" class="text-danger"></span>
</div>




<div class="form-group">
    <label asp-for="No_Memo_Rekomendasi" class="control-label">No Memo Rekomendasi</label>
    <input asp-for="No_Memo_Rekomendasi" class="form-control" required readonly/>
    <span asp-validation-for="No_Memo_Rekomendasi" class="text-danger"></span>
</div>







<div class="form-group">
    <label asp-for="NoProgram" class="control-label">Kode IRKAP</label>
    <select asp-for="NoProgram" class="form-select" id="multiple-select-field2" multiple asp-items="ViewBag.NoProgram" required>
        <option value="">Pilih</option>
    </select>
    <span asp-validation-for="NoProgram" class="text-danger"></span>
</div>


<script>
    $( '#multiple-select-field2' ).select2( {
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    placeholder: $( this ).data( 'placeholder' ),
    closeOnSelect: false,
} );
</script>



<div class="form-group">
    <label asp-for="Kategori_Kontrak" class="control-label"></label>
    <select asp-for="Kategori_Kontrak" class="form-control" id="Kategori_Kontrak" asp-items="ViewBag.Kategori_Kontrak" required>
         <option value="">Pilih</option>
    </select>
    <span asp-validation-for="Kategori_Kontrak" class="text-danger"></span>
</div>




<div class="form-group">
    <label asp-for="MOC" class="control-label"></label>
    <select asp-for="MOC" class="form-control" id="MOC" required>
        <option value="">Pilih</option>
        <option value="MOC">MOC</option>
        <option value="Non MOC">Non MOC</option>
    </select>
    <span asp-validation-for="MOC" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Jenis_Project" class="control-label">Jenis Pengadaan</label>
    <select asp-for="Jenis_Project" class="form-control" id="Jenis_Project" required>
        <option value="">Pilih</option>
        <option value="Barang">Barang</option>
        <option value="Jasa">Jasa</option>
        <option value="Barang & Jasa">Barang & Jasa</option>
    </select>
    <span asp-validation-for="Jenis_Project" class="text-danger"></span>
</div>

    <div class="form-group">
        <label asp-for="Tahun" class="control-label">Tahun Pembuatan Kontrak</label>
        <input asp-for="Tahun" class="form-control" id="Tahun" required>
        <span asp-validation-for="Tahun" class="text-danger"></span>
    </div>

<div class="form-group">
    <label asp-for="Disiplin" class="control-label"></label>
    <select asp-for="Disiplin" class="form-control" id="Disiplin" asp-items="ViewBag.Disiplin" required>
        <option value="">Pilih</option>
    </select>
    <span asp-validation-for="Disiplin" class="text-danger"></span>
</div>


 


<div class="form-group">
    <label asp-for="Kategori_Equipment" class="control-label">
        Kategori Equipment  
        <span class="badge badge-warning"><a href="#" id="toggle-lainnya">Lainnya</a></span>
    </label>
    <select asp-for="Kategori_Equipment" class="form-select" id="multiple-select-field" multiple asp-items="ViewBag.Kategori_Equipment" required>
        <option value="">Pilih</option>
    </select>
    <span asp-validation-for="Kategori_Equipment" class="text-danger"></span>
</div>

<!-- Input teks untuk kategori lainnya -->
<div class="form-group" id="kategori-equipment-lainnya-group" style="display: none;">
    <label for="input-kategori-equipment" class="control-label">Kategori Equipment Lainnya</label>
    <input type="text" class="form-control" id="input-kategori-equipment" asp-for="Kategori_Equipment">
    <span asp-validation-for="Kategori_Equipment" class="text-danger"></span>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toggleLink = document.getElementById("toggle-lainnya");
        var selectField = document.getElementById("multiple-select-field");
        var otherFieldGroup = document.getElementById("kategori-equipment-lainnya-group");
        var otherField = document.getElementById("input-kategori-equipment");
        var isOtherVisible = false; // Flag untuk cek status

        toggleLink.addEventListener("click", function (event) {
            event.preventDefault(); // Hindari reload halaman
            isOtherVisible = !isOtherVisible; // Toggle status

            if (isOtherVisible) {
                selectField.disabled = true;  // Disable dropdown
                otherFieldGroup.style.display = "block"; // Tampilkan input
                otherField.required = true; // Tambah required
            } else {
                selectField.disabled = false; // Enable dropdown
                otherFieldGroup.style.display = "none"; // Sembunyikan input
                otherField.required = false; // Hapus required
                otherField.value = ""; // Reset nilai input
            }
        });
    });
</script>



<script>
    $( '#multiple-select-field' ).select2( {
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    placeholder: $( this ).data( 'placeholder' ),
    closeOnSelect: false,
} );
</script>





<div class="form-group">
    <label asp-for="Kategori_Maintenance" class="control-label">
        Kategori Maintenance  
        <span class="badge badge-warning"><a href="#" id="toggle-maintenance-lainnya">Lainnya</a></span>
    </label>
    <select asp-for="Kategori_Maintenance" class="form-select form-control" id="multiple-select-field3" multiple asp-items="ViewBag.Kategori_Maintenance" required>
        <option value="">Pilih</option>
    </select>
    <span asp-validation-for="Kategori_Maintenance" class="text-danger"></span>
</div>

<!-- Input teks untuk kategori lainnya -->
<div class="form-group" id="kategori-maintenance-lainnya-group" style="display: none;">
    <label for="input-kategori-maintenance" class="control-label">Kategori Maintenance Lainnya</label>
    <input type="text" class="form-control" id="input-kategori-maintenance" asp-for="Kategori_Maintenance">
    <span asp-validation-for="Kategori_Maintenance" class="text-danger"></span>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toggleLink = document.getElementById("toggle-maintenance-lainnya");
        var selectField = document.getElementById("multiple-select-field3");
        var otherFieldGroup = document.getElementById("kategori-maintenance-lainnya-group");
        var otherField = document.getElementById("input-kategori-maintenance");
        var isOtherVisible = false; // Flag untuk cek status

        toggleLink.addEventListener("click", function (event) {
            event.preventDefault(); // Hindari reload halaman
            isOtherVisible = !isOtherVisible; // Toggle status

            if (isOtherVisible) {
                selectField.disabled = true;  // Disable dropdown
                otherFieldGroup.style.display = "block"; // Tampilkan input
                otherField.required = true; // Tambah required
            } else {
                selectField.disabled = false; // Enable dropdown
                otherFieldGroup.style.display = "none"; // Sembunyikan input
                otherField.required = false; // Hapus required
                otherField.value = ""; // Reset nilai input
            }
        });
    });
</script>

  
 

<script>
    $( '#multiple-select-field3' ).select2( {
    theme: "bootstrap-5",
    width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
    placeholder: $( this ).data( 'placeholder' ),
    closeOnSelect: false,
} );
</script>


















    <input type="hidden" asp-for="No" class="form-control" id="No" value="@ViewBag.NextNumber" />
 




        </div>

        <!-- Kolom kedua -->
        <div class="col-md-6">


<div class="form-group">
    <label asp-for="Status_kontrak" class="control-label"></label>
    <select asp-for="Status_kontrak" class="form-control" id="Status_kontrak" asp-items="ViewBag.Status_Kontrak" required readonly>
         <option value="">Pilih</option>
    </select>
    <span asp-validation-for="Status_kontrak" class="text-danger"></span>
</div>



  <div class="form-group">
    <label asp-for="Pekerjaan" class="control-label">Judul Kontrak</label>
    <textarea asp-for="Pekerjaan" class="form-control" required></textarea>
    <span asp-validation-for="Pekerjaan" class="text-danger"></span>
</div>

    <div class="form-group">
        <label asp-for="Area" class="control-label"></label>
        <select asp-for="Area" class="form-control" asp-items="ViewBag.Area" required>
             <option value="">Pilih</option>
        </select>
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Direksi" class="control-label"></label>
        <select asp-for="Direksi" class="form-control" asp-items="ViewBag.Direksi" required>
             <option value="">Pilih</option>
        </select>
        <span asp-validation-for="Direksi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Jenis_Kontrak" class="control-label"></label>
        <select asp-for="Jenis_Kontrak" class="form-control" asp-items="ViewBag.Jenis_Kontrak" required>
             <option value="">Pilih</option>
        </select>
        <span asp-validation-for="Jenis_Kontrak" class="text-danger"></span>
    </div>



        <div class="form-group">
        <label asp-for="Notifikasi" class="control-label"></label>
        <input asp-for="Notifikasi" class="form-control" required>
        <span asp-validation-for="Notifikasi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tanggal_Update" class="control-label">Tanggal NOPR</label>
        <input asp-for="Tanggal_Update" class="form-control" type="date" required>
        <span asp-validation-for="Tanggal_Update" class="text-danger"></span>
    </div>

            <div class="form-group">
        <label asp-for="No_Work_Order" class="control-label"></label>
        <input asp-for="No_Work_Order" class="form-control" required>
        <span asp-validation-for="No_Work_Order" class="text-danger"></span>
    </div>





    <div class="form-group">
        <label asp-for="No_PR" class="control-label"></label>
        <input asp-for="No_PR" class="form-control" required>
        <span asp-validation-for="No_PR" class="text-danger"></span>
    </div>




    <div class="form-group">
        <label asp-for="Tanggal_Kirim_Paket" class="control-label">Prognosa Tanggal Kirim Paket</label>
        <input asp-for="Tanggal_Kirim_Paket" class="form-control" type="date"  required>
        <span asp-validation-for="Tanggal_Kirim_Paket" class="text-danger"></span>
    </div>




    <div class="form-group">
        <label asp-for="Informasi_Detail" class="control-label">Notes</label>
        <textarea asp-for="Informasi_Detail" class="form-control"></textarea>
        <span asp-validation-for="Informasi_Detail" class="text-danger"></span>
    </div>






    <button type="button" class="btn btn-primary" id="saveButton">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

        </div>
    </div>
</div>

</form>



<script>
    document.getElementById("saveButton").addEventListener("click", function () {
        Swal.fire({
            title: 'Are you sure?',
            text: "Pastikan data anda sudah benar",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, save it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form
                document.getElementById("editForm").submit();
            }
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var disiplinSelect = document.getElementById('Disiplin');
        var userDisiplin = '@(User.FindFirstValue("Disiplin"))'; // Get the claim value directly

        // Automatically select the claim value
        for (var i = 0; i < disiplinSelect.options.length; i++) {
            if (disiplinSelect.options[i].value === userDisiplin) {
                disiplinSelect.selectedIndex = i;
                break;
            }
        }

        // Set the select as readonly if userDisiplin is not "All"
        if (userDisiplin !== 'All') {
            disiplinSelect.setAttribute('readonly', true);
            disiplinSelect.addEventListener('mousedown', function (e) {
                e.preventDefault(); // Prevent dropdown from opening
            });
        } else {
            disiplinSelect.removeAttribute('readonly');
        }
    });
</script>




@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const noInput = document.getElementById("No");
            const statusKontrakSelect = document.getElementById("Status_kontrak");
            const disiplinSelect = document.getElementById("Disiplin");
            const tahunInput = document.getElementById("Tahun");
            const kodeProjectInput = document.getElementById("Kode_Project");

            function generateKodeProject() {
                const no = noInput.value || "";
                const statusKontrak = statusKontrakSelect.value || "";
                const disiplin = disiplinSelect.value || "";
                
                // Ambil tahun dari Tanggal_Kirim_Paket
                const tahun = tahunInput.value || "";

                kodeProjectInput.value = `${no}/${statusKontrak}/${disiplin}/${tahun}`;
            }

            // Tambahkan event listener ke masing-masing input
            noInput.addEventListener("input", generateKodeProject);
            statusKontrakSelect.addEventListener("change", generateKodeProject);
            disiplinSelect.addEventListener("change", generateKodeProject);
            tahunInput.addEventListener("input", generateKodeProject);
        });
    </script>
}
