@model Plan.Models.StatusKontrakMaster

@{
    ViewData["Title"] = "Status kontrak master";

    ViewData["Title1"] = "Status Kontrak";
    ViewData["Title2"] = "Create";

}



<form asp-action="Edit">
  @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
