@model Plan.Models.BiayaRealisasi

@{
    ViewData["Title"] = "Biaya Realisasi";

    ViewData["Title1"] = "Biaya Realisasi";
    ViewData["Title2"] = "Edit";
}

<form asp-action="Edit">
  @Html.AntiForgeryToken()

    <input asp-for="Id" class="form-control" />

    <div class="form-group">
        <label for="JenisBiaya">Jenis Biaya</label>
        <input asp-for="JenisBiaya" class="form-control" />
        <span asp-validation-for="JenisBiaya" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="CI">CI</label>
        <input asp-for="CI" class="form-control" />
        <span asp-validation-for="CI" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ApprRKPL">ApprRKPL</label>
        <input asp-for="ApprRKPL" class="form-control" />
        <span asp-validation-for="ApprRKPL" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="RealisasiAssign">Realisasi Assign </label>
        <input asp-for="RealisasiAssign" class="form-control" />
        <span asp-validation-for="RealisasiAssign" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PersenRealisasiAssign">% Realisasi Assign</label>
        <input asp-for="PersenRealisasiAssign" class="form-control" />
        <span asp-validation-for="PersenRealisasiAssign" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="RealisasiActual">Realisasi Actual </label>
        <input asp-for="RealisasiActual" class="form-control" />
        <span asp-validation-for="RealisasiActual" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PersenRealisasiActual">% Realisasi Actual</label>
        <input asp-for="PersenRealisasiActual" class="form-control" />
        <span asp-validation-for="PersenRealisasiActual" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="RealisasiCommit">Realisasi Commit </label>
        <input asp-for="RealisasiCommit" class="form-control" />
        <span asp-validation-for="RealisasiCommit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PersenRealisasiCommit">% Realisasi Commit</label>
        <input asp-for="PersenRealisasiCommit" class="form-control" />
        <span asp-validation-for="PersenRealisasiCommit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="RealisasiROP">Realisasi ROP</label>
        <input asp-for="RealisasiROP" class="form-control" />
        <span asp-validation-for="RealisasiROP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PersenRealisasiROP">% Realisasi ROP</label>
        <input asp-for="PersenRealisasiROP" class="form-control" />
        <span asp-validation-for="PersenRealisasiROP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Bulan">Bulan</label>
        <input asp-for="Bulan" class="form-control" />
        <span asp-validation-for="Bulan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Tahun">Tahun</label>
        <input asp-for="Tahun" class="form-control" />
        <span asp-validation-for="Tahun" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Minggu">Minggu</label>
        <input asp-for="Minggu" class="form-control" />
        <span asp-validation-for="Minggu" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tipe_Project" class="control-label"></label>
        <select asp-for="Tipe_Project" class="form-control" id="Tipe_Project">
            <option value="Rutin">Rutin</option>
            <option value="Non Rutin">Non Rutin</option>
        </select>
        <span asp-validation-for="Tipe_Project" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OH" class="control-label"></label>
        <select asp-for="OH" class="form-control" id="OH">
            <option value="">Tidak</option>
            <option value="OH">OH</option>
        </select>
        <span asp-validation-for="OH" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
